{% extends 'security/login.html.twig' %}

{% block title %}
	Deconnexion
{% endblock %}

{% block body %}

	<div class="login-box-body">
        <p class="login-box-msg">Déconnexion en cours ...</p>

        <p>Vous serez redirigé dans quelques instants vers la page d'accueil.</p>

    </div>
    <!-- /.login-box-body -->

{% endblock %}